<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HP2</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div style="width: 1000px; margin: auto;">
    <h1 style="text-align: center;">Hot Place List</h1>
    <div class="main-container">
        <div class="section-container">
            <h2>복작복작 와글와글</h2>
            <div class="place-container">
                <div class="photo">사진</div>
                <div class="place-info">
                    <div class="place-name">국립중앙박물관·용산가족공원</div>
                    <div class="detail-container">
                        <div style="flex:1">맑음</div>
                        <div style="flex:1">16℃</div>
                        <div class="fine-dust" style="flex:1">
                            <p style="margin: 0px;">좋음</p>
                            <p style="margin: 0px; font-size: 12px;">미세먼지</p>
                        </div>
                        <div class="ultrafine dustr" style="flex:1">
                            <p style="margin: 0px;">좋음</p>
                            <p style="margin: 0px; font-size: 12px;">초미세먼지</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="place-container">
                <div class="photo">사진</div>
                2순위
            </div>
            <div class="place-container">
                <div class="photo">사진</div>
                3순위
            </div>
        </div>
        <div class="section-container">
            <h2>한적~</h2>
            <div class="place-container">
                <div class="photo">사진</div>
                1순위
            </div>
            <div class="place-container">
                <div class="photo">사진</div>
                2순위
            </div>
            <div class="place-container">
                <div class="photo">사진</div>
                3순위
            </div>
        </div>
    </div>
    <div class="comment-container">
        <form action={% url "main:comment" %} method='post' style="display: flex; flex-direction: row; width: 600px;">
            {% csrf_token %}
            <div style="display: flex; flex-direction: column; gap: 8px;">
                <div>
                    <label for="nickname">닉네임 :</label>
                    <input id="nickname" name="nickname" placeholder="10자 제한" maxlength='10'/>
                </div>
                <div>
                    <label for="comment">댓글 :</label>
                    <input id="comment" name="comment" type="text" placeholder="150자 제한" maxlength='150' required>
                </div>
            </div>
            <button style="margin-left: 10px;">제출</button>
        </form>
        <div  class="comment-list">
            <div class="comment-box">
                <p class="comment-content">짧게 뾰롱</p>
                <p class="comment-nick">익명이는귀여워</p>
            </div>
            <div class="comment-box">
                <p class="comment-content">이건 그냥 3개 맞춰보려고 넣은 것. </p>
                <p class="comment-nick">트리플 코멘트</p>
            </div>
            <div class="comment-box">
                <p class="comment-content">길게 쓴 글을 체크해보고 싶어서 쓴 긴 글입니다. 정말 아무 내용이 없어요. 왜냐하면 아무생각이 없기 때문입니다.</p>
                <p class="comment-nick">노띵킹 부엉이</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>