<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HP2</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style="text-align: center;">Hot Place List</h1>
    <div class="main-container">
        <div class="section-container">
            <h2>복작복작 와글와글</h2>
            <div class="place-container">
                <div class="photo">사진</div>
                <div class="place-info">
                    <div class="place-name">국립중앙박물관·용산가족공원</div>
                    <div class="detail-container">
                        <div style="flex:1">맑음</div>
                        <div style="flex:1">16℃</div>
                        <div class="fine-dust" style="flex:1">
                            <p style="margin: 0px;">좋음</p>
                            <p style="margin: 0px; font-size: 12px;">미세먼지</p>
                        </div>
                        <div class="ultrafine dustr" style="flex:1">
                            <p style="margin: 0px;">좋음</p>
                            <p style="margin: 0px; font-size: 12px;">초미세먼지</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="place-container">
                <div class="photo">사진</div>
                2순위
            </div>
            <div class="place-container">
                <div class="photo">사진</div>
                3순위
            </div>
        </div>
        <div class="section-container">
            <h2>한적~</h2>
            <div class="place-container">
                <div class="photo">사진</div>
                1순위
            </div>
            <div class="place-container">
                <div class="photo">사진</div>
                2순위
            </div>
            <div class="place-container">
                <div class="photo">사진</div>
                3순위
            </div>
        </div>
    </div>
</body>
</html>